# Which COVID-19 Vaccine is Best for You?
## DS4A Team 55 Preliminary EDA

In [1]:
import pandas as pd
import numpy as np
import math
import base64
import matplotlib.pyplot as plt
import seaborn as sns
from sodapy import Socrata
import zipfile

In [2]:
# increase the size and quality of any plots we produce
import matplotlib as mpl
mpl.rcParams["figure.dpi"] = 300

## state_vax.csv
Vaccine administration data for states within the U.S., including the District of Columbia from 12/13/2020 to the present, updated daily.

In [3]:
client = Socrata(
        domain = "data.cdc.gov",
        app_token = "bsYMLkKAQhIIVd7wzBzp5BiCR",
        timeout=10
        )
results = client.get_all("unsk-b7fc")

# convert to pandas DataFrame
df = pd.DataFrame.from_records(results)
df.sample(10)

,date,mmwr_week,location,distributed,distributed_janssen,distributed_moderna,distributed_pfizer,distributed_unk_manuf,dist_per_100k,distributed_per_100k_12plus,...,administered_dose1_recip_5pluspop_pct,series_complete_5plus,series_complete_5pluspop_pct,administered_5plus,admin_per_100k_5plus,distributed_per_100k_5plus,series_complete_moderna_5plus,series_complete_pfizer_5plus,series_complete_janssen_5plus,series_complete_unk_manuf_5plus
9141,2021-09-14T00:00:00.000,37,LA,5470210,238100,2338100,2894010,0,117669,139428,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1433,2022-01-12T00:00:00.000,2,MH,68980,12100,47700,9180,0,88731,120239,...,38.1,23113,33.4,48965,70761,99685,19007,1530,2575,1
23359,2021-02-08T00:00:00.000,6,MT,163675,0,0,0,0,15314,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
7958,2021-10-02T00:00:00.000,39,TX,42069505,2031100,16295760,23742645,0,145088,174554,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
26042,2020-12-28T00:00:00.000,53,UT,104925,0,0,0,0,3273,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
21021,2021-03-15T00:00:00.000,11,AR,1251620,33000,638300,580320,0,41475,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
10461,2021-08-25T00:00:00.000,34,KS,3507375,173500,1469600,1864275,0,120391,143059,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
3817,2021-12-06T00:00:00.000,49,IN,10246880,545800,3692720,6008360,0,152207,179611,...,60,3431397,54.3,7952255,125949,162291,1208162,1948415,267088,7732
21384,2021-03-10T00:00:00.000,10,OH,4444875,133000,2286800,2025075,0,38026,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
9490,2021-09-09T00:00:00.000,36,MO,7509375,311400,3007260,4190715,0,122354,143426,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN

In [4]:
df.columns

Index(['date', 'mmwr_week', 'location', 'distributed', 'distributed_janssen',
       'distributed_moderna', 'distributed_pfizer', 'distributed_unk_manuf',
       'dist_per_100k', 'distributed_per_100k_12plus',
       'distributed_per_100k_18plus', 'distributed_per_100k_65plus',
       'administered', 'administered_12plus', 'administered_18plus',
       'administered_65plus', 'administered_janssen', 'administered_moderna',
       'administered_pfizer', 'administered_unk_manuf', 'admin_per_100k',
       'admin_per_100k_12plus', 'admin_per_100k_18plus',
       'admin_per_100k_65plus', 'recip_administered',
       'administered_dose1_recip', 'administered_dose1_pop_pct',
       'administered_dose1_recip_1', 'administered_dose1_recip_2',
       'administered_dose1_recip_3', 'administered_dose1_recip_4',
       'administered_dose1_recip_5', 'administered_dose1_recip_6',
       'series_complete_yes', 'series_complete_pop_pct',
       'series_complete_12plus', 'series_complete_12pluspop',
       'series_complete_18plus', 'series_complete_18pluspop',
       'series_complete_65plus', 'series_complete_65pluspop',
       'series_complete_janssen', 'series_complete_moderna',
       'series_complete_pfizer', 'series_complete_unk_manuf',
       'series_complete_janssen_12plus', 'series_complete_moderna_12plus',
       'series_complete_pfizer_12plus', 'series_complete_unk_manuf_1',
       'series_complete_janssen_18plus', 'series_complete_moderna_18plus',
       'series_complete_pfizer_18plus', 'series_complete_unk_manuf_2',
       'series_complete_janssen_65plus', 'series_complete_moderna_65plus',
       'series_complete_pfizer_65plus', 'series_complete_unk_manuf_3',
       'additional_doses', 'additional_doses_vax_pct',
       'additional_doses_18plus', 'additional_doses_18plus_vax_pct',
       'additional_doses_50plus', 'additional_doses_50plus_vax_pct',
       'additional_doses_65plus', 'additional_doses_65plus_vax_pct',
       'additional_doses_moderna', 'additional_doses_pfizer',
       'additional_doses_janssen', 'additional_doses_unk_manuf',
       'administered_dose1_recip_5plus',
       'administered_dose1_recip_5pluspop_pct', 'series_complete_5plus',
       'series_complete_5pluspop_pct', 'administered_5plus',
       'admin_per_100k_5plus', 'distributed_per_100k_5plus',
       'series_complete_moderna_5plus', 'series_complete_pfizer_5plus',
       'series_complete_janssen_5plus', 'series_complete_unk_manuf_5plus'],
      dtype='object')

In [5]:
df.sort_values(by="date", ascending=True)

,date,mmwr_week,location,distributed,distributed_janssen,distributed_moderna,distributed_pfizer,distributed_unk_manuf,dist_per_100k,distributed_per_100k_12plus,...,administered_dose1_recip_5pluspop_pct,series_complete_5plus,series_complete_5pluspop_pct,administered_5plus,admin_per_100k_5plus,distributed_per_100k_5plus,series_complete_moderna_5plus,series_complete_pfizer_5plus,series_complete_janssen_5plus,series_complete_unk_manuf_5plus
26967,2020-12-13T00:00:00.000,51,LTC,0,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
26962,2020-12-13T00:00:00.000,51,US,13650,0,0,0,0,4,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
26963,2020-12-13T00:00:00.000,51,GU,3900,0,0,0,0,2353,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
26966,2020-12-13T00:00:00.000,51,VI,975,0,0,0,0,931,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
26965,2020-12-13T00:00:00.000,51,AS,3900,0,0,0,0,7003,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36,2022-02-03T00:00:00.000,5,PR,7125970,213300,2505640,4407030,0,223126,250184,...,95,2545210,82.7,6573558,213690,231648,940104,1466265,138711,130
35,2022-02-03T00:00:00.000,5,AS,91010,600,21500,68910,0,192037,246526,...,95,37547,87.1,84307,195563,211111,9001,27970,567,9
34,2022-02-03T00:00:00.000,5,OH,21358395,965100,7941580,12451715,0,182721,213569,...,66.3,6653270,60.5,16960514,154211,194198,2350721,3753677,543725,5147
32,2022-02-03T00:00:00.000,5,NV,5505590,257000,1869980,3378610,0,178744,209993,...,77.8,1806176,62.4,4604387,159069,190203,591684,1044495,169942,55
0,2022-02-03T00:00:00.000,5,VA,18239385,768700,6329900,11140785,0,213688,249616,...,88.5,6034376,75.1,15334013,190958,227139,1973875,3609963,447289,3249

In [6]:
# df.shape

In [7]:
# remove all distribution cols
# remove "Administered", this is the total for 1st dose and complete series
# remove all 5plus cols, very recently approved and sporadic across states
# remove additional doses for 50plus, age group doesn't show up elsewhere in dataset


df = df.drop(columns= ["mmwr_week","distributed", "distributed_janssen", "distributed_moderna", 
                       "distributed_pfizer", "distributed_unk_manuf", "dist_per_100k","distributed_per_100k_12plus",
                       "distributed_per_100k_18plus", "distributed_per_100k_65plus", "distributed_per_100k_5plus",
                       "administered","administered_dose1_recip_5plus", "recip_administered",
                       "administered_dose1_recip_5pluspop_pct", "series_complete_5plus", "series_complete_5pluspop_pct", 
                       "administered_5plus", "admin_per_100k_5plus", "series_complete_moderna_5plus",
                       "series_complete_pfizer_5plus", "series_complete_janssen_5plus", "series_complete_unk_manuf_5plus",
                       "additional_doses_50plus", "additional_doses_50plus_vax_pct"], axis=1)

In [8]:
# abbreviating column names for readability
# cols in api data are labelled differently than csv directly from data.cdc.gov, values match up so renaming those cols

rename_cols = {"administered_12plus":"admin_12plus",
               "location":"state",
               "administered_18plus":"admin_18plus",
               "administered_65plus":"admin_65plus",
               "administered_janssen":"admin_janssen",
               "administered_moderna":"admin_moderna",
               "administered_pfizer":"admin_pfizer",
               "administered_unk_manuf":"admin_unk",
               "administered_dose1_recip":"admin_dose1",
               "administered_dose1_pop_pct":"admin_dose1_pop_pct",
               "administered_dose1_recip_1":"admin_dose1_12plus",
               "administered_dose1_recip_2":"admin_dose1_12plus_pop_pct",
               "administered_dose1_recip_3":"admin_dose1_18plus",
               "administered_dose1_recip_4":"admin_dose1_18plus_pop_pct",
               "administered_dose1_recip_5":"admin_dose1_65plus",
               "administered_dose1_recip_6":"admin_dose1_65plus_pop_pct",
               "series_complete_yes":"series_complete",
               "series_complete_12pluspop":"series_complete_12plus_pop_pct",
               "series_complete_18pluspop":"series_complete_18plus_pop_pct",
               "series_complete_65pluspop":"series_complete_65plus_pop_pct",
               "series_complete_unk_manuf":"series_complete_unk",
               "series_complete_unk_manuf_1":"series_complete_unk_12plus",
               "series_complete_unk_manuf_2":"series_complete_unk_18plus",
               "series_complete_unk_manuf_3":"series_complete_unk_65plus",
               "series_complete_12pluspop_pct":"series_complete_12plus_pop_pct",
               "series_complete_18pluspop_pct":"series_complete_18plus_pop_pct",
               "series_complete_65pluspop_pct":"series_complete_65plus_pop_pct"
               }
df = df.rename(columns=rename_cols)

In [9]:
# df.columns

In [10]:
# see data types of df
# all types = object, need to change to ints and floats
# df.dtypes

In [11]:
# show cols with NaNs
# cols with NaNs are additional dose cols, after investigating this happens when other additional dose cols are 0
df.columns[df.isnull().any()]

Index(['additional_doses', 'additional_doses_vax_pct',
       'additional_doses_18plus', 'additional_doses_18plus_vax_pct',
       'additional_doses_65plus', 'additional_doses_65plus_vax_pct',
       'additional_doses_moderna', 'additional_doses_pfizer',
       'additional_doses_janssen', 'additional_doses_unk_manuf'],
      dtype='object')

In [12]:
# replace NaNs with 0 to fill in values
nan_col = ['additional_doses', 'additional_doses_vax_pct',
           'additional_doses_18plus', 'additional_doses_18plus_vax_pct',
           'additional_doses_65plus', 'additional_doses_65plus_vax_pct',
           'additional_doses_moderna', 'additional_doses_pfizer',
           'additional_doses_janssen', 'additional_doses_unk_manuf']
df[nan_col] = df[nan_col].fillna(0)

In [13]:
to_int = ['admin_12plus', 'admin_18plus', 'admin_65plus','admin_janssen',
          'admin_moderna', 'admin_pfizer', 'admin_unk','admin_per_100k',
          'admin_per_100k_12plus', 'admin_per_100k_18plus','admin_per_100k_65plus',
          'admin_dose1', 'admin_dose1_12plus', 'admin_dose1_18plus',
          'admin_dose1_65plus', 'series_complete_12plus', 'series_complete_18plus',
          'series_complete','series_complete_65plus', 'series_complete_janssen', 'series_complete_moderna',
          'series_complete_pfizer','series_complete_unk', 'series_complete_janssen_12plus',
          'series_complete_moderna_12plus', 'series_complete_pfizer_12plus', 'series_complete_unk_12plus',
          'series_complete_janssen_18plus', 'series_complete_moderna_18plus', 'series_complete_pfizer_18plus',
          'series_complete_unk_18plus', 'series_complete_janssen_65plus', 'series_complete_moderna_65plus',
          'series_complete_pfizer_65plus', 'series_complete_unk_65plus', 'additional_doses',
          'additional_doses_18plus', 'additional_doses_65plus', 'additional_doses_moderna',
          'additional_doses_pfizer', 'additional_doses_janssen', 'additional_doses_unk_manuf'
         ]

to_float = ['admin_dose1_pop_pct', 'admin_dose1_12plus_pop_pct', 'admin_dose1_18plus_pop_pct',
            'admin_dose1_65plus_pop_pct', 'series_complete_pop_pct', 'series_complete_12plus_pop_pct',
            'series_complete_12plus_pop_pct', 'series_complete_18plus_pop_pct', 'series_complete_65plus_pop_pct',
            'additional_doses_vax_pct', 'additional_doses_18plus_vax_pct', 'additional_doses_65plus_vax_pct'
           ]

df[to_int] = df[to_int].astype("int")
df[to_float] = df[to_float].astype("float")

In [14]:
# checking that data types hace been converted correctly
# df.dtypes

In [15]:
# removing locations outside of the contential united states as well as united states total

drop_location = ["AS", "BP2", "DD2", "FM", "GU",
                 "IH2", "MH", "MP", "PR", "RP",
                 "US", "VA2", "VI", "LTC"]
df = df[~df["state"].isin(drop_location)]

# checking that location vals = 51, including DC

df.state.nunique()

52

In [16]:
# converting "date" col to datetime
df["date"] = pd.to_datetime(df["date"])

In [17]:
# filter location to New York
df_ny = df.loc[df["state"] == "NY"]

In [18]:
# creating a new df with all values on a daily basis instead of a running total
df_ny_daily = df_ny.drop(columns="state").set_index("date")
df_ny_daily = df_ny_daily.diff(periods=-1)
df_ny_daily.head(50)

,admin_12plus,admin_18plus,admin_65plus,admin_janssen,admin_moderna,admin_pfizer,admin_unk,admin_per_100k,admin_per_100k_12plus,admin_per_100k_18plus,...,additional_doses,additional_doses_vax_pct,additional_doses_18plus,additional_doses_18plus_vax_pct,additional_doses_65plus,additional_doses_65plus_vax_pct,additional_doses_moderna,additional_doses_pfizer,additional_doses_janssen,additional_doses_unk_manuf
date,,,,,,,,,,,,,,,,,,,,,
2022-02-03,43152.0,38981.0,5802.0,1176.0,15193.0,33279.0,94.0,255.0,258.0,253.0,...,22990.0,0.1,21168.0,0.1,3840.0,0.1,9048.0,13455.0,486.0,1.0
2022-02-02,49261.0,43520.0,5749.0,1120.0,15910.0,39955.0,65.0,294.0,293.0,282.0,...,26459.0,0.2,23627.0,0.2,3802.0,0.1,9491.0,16444.0,522.0,2.0
2022-02-01,32802.0,29186.0,3318.0,783.0,10536.0,25578.0,66.0,190.0,196.0,189.0,...,17349.0,0.1,15397.0,0.0,2117.0,0.1,6179.0,10827.0,342.0,1.0
2022-01-31,17424.0,14387.0,1130.0,377.0,5203.0,14899.0,10.0,105.0,104.0,94.0,...,10450.0,0.0,8462.0,0.1,805.0,0.0,3429.0,6872.0,149.0,0.0
2022-01-30,49846.0,42207.0,4525.0,888.0,16437.0,40187.0,24.0,296.0,297.0,273.0,...,32199.0,0.2,27294.0,0.2,3249.0,0.1,11450.0,20281.0,468.0,0.0
2022-01-29,61485.0,55269.0,7659.0,1403.0,20333.0,47749.0,117.0,357.0,366.0,359.0,...,35979.0,0.2,32669.0,0.2,5271.0,0.2,13211.0,22050.0,712.0,6.0
2022-01-28,58849.0,53267.0,7770.0,1242.0,20191.0,45159.0,90.0,343.0,351.0,345.0,...,33572.0,0.2,30765.0,0.2,5327.0,0.2,12986.0,20009.0,569.0,8.0
2022-01-27,56316.0,50669.0,7246.0,1249.0,18474.0,44217.0,102.0,329.0,336.0,328.0,...,31769.0,0.2,28954.0,0.2,4967.0,0.1,12033.0,19226.0,507.0,3.0
2022-01-26,66938.0,59658.0,8305.0,1499.0,22891.0,50887.0,71.0,388.0,399.0,387.0,...,38505.0,0.2,34484.0,0.2,5864.0,0.2,14411.0,23470.0,620.0,4.0
2022-01-25,42522.0,38668.0,5631.0,1076.0,15599.0,30033.0,64.0,240.0,254.0,251.0,...,23604.0,0.1,21547.0,0.2,3730.0,0.1,9704.0,13407.0,490.0,3.0
2022-01-24,40555.0,33767.0,3418.0,504.0,13459.0,31291.0,10.0,233.0,241.0,219.0,...,26433.0,0.2,21501.0,0.1,2487.0,0.1,9295.0,16897.0,241.0,0.0
2022-01-23,59130.0,49305.0,5272.0,1078.0,20226.0,48412.0,27.0,358.0,353.0,319.0,...,39135.0,0.2,32453.0,0.3,3893.0,0.1,14350.0,24278.0,505.0,2.0
2022-01-22,69000.0,61743.0,8104.0,1563.0,24917.0,51470.0,122.0,402.0,411.0,401.0,...,41549.0,0.3,37577.0,0.2,5844.0,0.2,16647.0,24168.0,733.0,1.0
2022-01-21,69283.0,62101.0,8413.0,1741.0,24804.0,52842.0,96.0,408.0,413.0,402.0,...,40908.0,0.2,37008.0,0.3,6024.0,0.2,16351.0,23825.0,731.0,1.0
2022-01-20,76876.0,69401.0,9547.0,1509.0,26537.0,58824.0,130.0,448.0,459.0,450.0,...,44969.0,0.3,40904.0,0.3,6843.0,0.2,17486.0,26694.0,784.0,5.0
2022-01-19,66186.0,59251.0,7376.0,1548.0,22648.0,49493.0,86.0,379.0,394.0,384.0,...,37479.0,0.2,33503.0,0.2,5120.0,0.1,14701.0,22092.0,685.0,1.0
2022-01-18,39571.0,34044.0,4165.0,1066.0,14313.0,29509.0,26.0,231.0,236.0,221.0,...,24192.0,0.1,20584.0,0.1,2998.0,0.1,9812.0,13981.0,399.0,0.0
2022-01-17,40760.0,33661.0,3391.0,905.0,14461.0,30140.0,13.0,234.0,243.0,218.0,...,27433.0,0.2,22231.0,0.2,2522.0,0.1,10472.0,16619.0,342.0,0.0
2022-01-16,89756.0,75232.0,8536.0,1598.0,31102.0,69942.0,37.0,527.0,535.0,488.0,...,61240.0,0.4,50997.0,0.3,6576.0,0.2,22805.0,37631.0,802.0,2.0
2022-01-15,94353.0,84591.0,12640.0,2618.0,35678.0,66701.0,72.0,541.0,563.0,548.0,...,57010.0,0.3,51152.0,0.4,8494.0,0.3,23696.0,32284.0,1027.0,3.0
2022-01-14,90081.0,81501.0,13035.0,2441.0,33397.0,64397.0,117.0,515.0,537.0,529.0,...,55579.0,0.4,50545.0,0.4,9601.0,0.3,23325.0,31029.0,1221.0,4.0
2022-01-13,90693.0,82079.0,12180.0,2219.0,32087.0,66195.0,120.0,518.0,541.0,532.0,...,54317.0,0.3,49443.0,0.3,8547.0,0.3,21927.0,31516.0,869.0,5.0
2022-01-12,85721.0,77215.0,11199.0,2022.0,30711.0,63493.0,103.0,495.0,511.0,500.0,...,51069.0,0.3,46113.0,0.3,8098.0,0.2,20960.0,29236.0,871.0,2.0
2022-01-11,56393.0,51470.0,7551.0,1290.0,21516.0,40896.0,75.0,328.0,336.0,334.0,...,34371.0,0.2,31571.0,0.2,5538.0,0.2,15204.0,18634.0,532.0,1.0
2022-01-10,48280.0,40214.0,5004.0,1063.0,18255.0,37709.0,27.0,293.0,288.0,261.0,...,31691.0,0.2,26147.0,0.2,3700.0,0.1,13433.0,17802.0,455.0,1.0
2022-01-09,90057.0,77234.0,9196.0,1589.0,32647.0,74146.0,45.0,557.0,537.0,500.0,...,59643.0,0.4,51446.0,0.4,6907.0,0.2,23928.0,34970.0,742.0,3.0
2022-01-08,92389.0,84396.0,12657.0,1920.0,35503.0,67332.0,74.0,539.0,550.0,548.0,...,59360.0,0.4,55118.0,0.4,9651.0,0.3,25864.0,32571.0,914.0,11.0
2022-01-07,97170.0,91648.0,15113.0,2115.0,38951.0,67823.0,124.0,561.0,580.0,594.0,...,61737.0,0.4,59551.0,0.5,11713.0,0.4,28053.0,32697.0,981.0,6.0
2022-01-06,98443.0,93256.0,15247.0,2060.0,38232.0,69939.0,76.0,567.0,587.0,604.0,...,60706.0,0.4,58891.0,0.4,11549.0,0.4,26916.0,32889.0,898.0,3.0
2022-01-05,87205.0,82265.0,12590.0,2097.0,33398.0,63252.0,74.0,508.0,519.0,534.0,...,52084.0,0.3,50487.0,0.4,9444.0,0.3,23146.0,28041.0,893.0,4.0
2022-01-04,58630.0,55819.0,8712.0,1137.0,23785.0,41337.0,84.0,341.0,350.0,361.0,...,33507.0,0.2,32738.0,0.2,6228.0,0.2,15380.0,17657.0,467.0,3.0
2022-01-03,46493.0,43602.0,6599.0,900.0,19357.0,33799.0,2.0,277.0,277.0,283.0,...,29564.0,0.2,28336.0,0.2,4953.0,0.2,13842.0,15389.0,333.0,0.0
2022-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-01-01,93043.0,87486.0,12825.0,1999.0,37029.0,64714.0,51.0,534.0,555.0,567.0,...,60488.0,0.4,57962.0,0.4,9793.0,0.3,26867.0,32797.0,824.0,0.0
2021-12-31,129360.0,121850.0,18929.0,2312.0,50072.0,92678.0,99.0,746.0,771.0,790.0,...,83023.0,0.6,79771.0,0.6,14520.0,0.4,36659.0,45444.0,914.0,6.0
2021-12-30,124001.0,116702.0,18773.0,2028.0,49969.0,87172.0,88.0,716.0,739.0,757.0,...,80056.0,0.5,76782.0,0.6,14391.0,0.5,36353.0,42910.0,790.0,3.0
2021-12-29,120031.0,113206.0,16810.0,2223.0,45564.0,86572.0,94.0,691.0,716.0,734.0,...,74565.0,0.5,71592.0,0.5,12849.0,0.4,32477.0,41262.0,820.0,6.0
2021-12-28,73794.0,69659.0,9808.0,1446.0,29548.0,52381.0,70.0,429.0,440.0,451.0,...,44221.0,0.3,42486.0,0.3,7419.0,0.3,20639.0,23092.0,485.0,5.0
2021-12-27,21828.0,20515.0,2405.0,621.0,8395.0,16573.0,6.0,132.0,130.0,133.0,...,13001.0,0.1,12522.0,0.1,1832.0,0.0,6170.0,6649.0,181.0,1.0
2021-12-26,20841.0,19638.0,3130.0,608.0,8214.0,13477.0,7.0,114.0,124.0,128.0,...,12546.0,0.0,11899.0,0.1,2228.0,0.1,5695.0,6678.0,173.0,0.0
2021-12-25,109814.0,103434.0,15704.0,2350.0,43470.0,74225.0,50.0,618.0,655.0,670.0,...,69236.0,0.5,66017.0,0.5,11953.0,0.4,30919.0,37460.0,857.0,0.0
2021-12-24,139960.0,133647.0,22566.0,2699.0,56883.0,93597.0,111.0,788.0,835.0,867.0,...,89874.0,0.6,87147.0,0.7,17464.0,0.6,41269.0,47632.0,966.0,7.0
2021-12-23,147291.0,141471.0,23872.0,2774.0,58184.0,100036.0,115.0,828.0,878.0,917.0,...,96962.0,0.7,94550.0,0.7,18500.0,0.6,42731.0,53112.0,1117.0,2.0
2021-12-22,120069.0,115488.0,19762.0,2587.0,49196.0,78729.0,107.0,671.0,715.0,748.0,...,76480.0,0.5,74768.0,0.6,15262.0,0.5,35764.0,39686.0,1030.0,0.0
2021-12-21,78949.0,76215.0,12714.0,1554.0,32739.0,52484.0,75.0,447.0,471.0,494.0,...,50851.0,0.3,49999.0,0.3,9971.0,0.3,24427.0,25754.0,666.0,4.0
2021-12-20,73128.0,69282.0,11306.0,1271.0,31095.0,50791.0,11.0,427.0,436.0,450.0,...,47754.0,0.4,46079.0,0.4,8121.0,0.3,22007.0,25204.0,543.0,0.0
2021-12-19,130630.0,123934.0,20391.0,2228.0,48550.0,102778.0,169.0,791.0,779.0,803.0,...,87672.0,0.6,85460.0,0.6,16164.0,0.5,37506.0,49192.0,969.0,5.0
2021-12-18,133640.0,129253.0,25151.0,3314.0,53935.0,89414.0,100.0,754.0,797.0,838.0,...,91356.0,0.6,89972.0,0.7,20033.0,0.7,40999.0,48788.0,1561.0,8.0
2021-12-17,126506.0,122696.0,26107.0,3862.0,52013.0,84438.0,92.0,722.0,754.0,795.0,...,85140.0,0.6,84123.0,0.7,20799.0,0.7,39354.0,43777.0,2006.0,3.0
2021-12-16,109085.0,105388.0,22562.0,3537.0,46413.0,74367.0,102.0,639.0,650.0,684.0,...,73283.0,0.5,72371.0,0.5,17657.0,0.5,34906.0,36574.0,1801.0,2.0

In [19]:
# this value appears as an outlier but was manually calculated from raw dataset and is correct
print(df_ny_daily["admin_pfizer"].max())

581745.0

In [20]:
# set index to date to extract rows for the first of each month, aligns with how other datasets are reported
df_ny_m = df_ny.set_index("date")
df_ny_m = df_ny_m.groupby(df_ny_m.index.strftime("%Y-%m")).tail(1)
df_ny_m = df_ny_m.reset_index().sort_values(by="date", ascending=True)
# df_ny_m.head(10)

In [21]:
# first reported date and most recent date for vax data, updated daily
print(df_ny["date"].min())
print(df_ny["date"].max())

2020-12-14 00:00:00
2022-02-03 00:00:00

# covid_cases
Covid cases in NY

In [22]:
# #read data
# covid_df = pd.read_csv("data/covid_cases_4states.csv.zip", compression="zip")
# covid_df.head()

with zipfile.ZipFile("data/covid_cases_4states.csv.zip") as z:
    with z.open("covid_cases_4states.csv") as f:
        covid_df = pd.read_csv(f, low_memory=False)

covid_df.head()
# # open zipped dataset
# with zipfile.ZipFile("test.zip") as z:
#    # open the csv file in the dataset
#    with z.open("test.csv") as f:
       
#       # read the dataset
#       train = pd.read_csv(f)

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2021-10,NY,36,CLINTON,36019.0,65+ years,Female,Missing,NaN,NaN,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,No,NaN
1,2021-07,FL,12,BAKER,12003.0,50 to 64 years,Female,NaN,NaN,NaN,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,No,Missing,No,NaN
2,2020-09,NY,36,STEUBEN,36101.0,50 to 64 years,Female,Missing,NaN,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,No,NaN
3,2021-02,FL,12,MANATEE,12081.0,18 to 49 years,Female,Unknown,Hispanic/Latino,NaN,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
4,2021-03,FL,12,MARION,12083.0,50 to 64 years,Female,Unknown,Hispanic/Latino,NaN,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN

In [23]:
covid_df.columns #column names

Index(['case_month', 'res_state', 'state_fips_code', 'res_county',
       'county_fips_code', 'age_group', 'sex', 'race', 'ethnicity',
       'case_positive_specimen_interval', 'case_onset_interval', 'process',
       'exposure_yn', 'current_status', 'symptom_status', 'hosp_yn', 'icu_yn',
       'death_yn', 'underlying_conditions_yn'],
      dtype='object')

In [24]:
# covid_df.dtypes

In [25]:
covid_df.shape

(11685325, 19)

In [26]:
#data cleaning
covid_df['case_month'] = pd.to_datetime(covid_df['case_month']) #convert to date

In [27]:
# dropping irrelevant columns
covid_df = covid_df.drop(columns=["case_positive_specimen_interval", "case_onset_interval", "process", "exposure_yn", "current_status"])

In [28]:
# rename cols for readability and uniformify across datasets
covid_rename = {"case_month":"date", "res_state":"state",
               "res_county":"county"}

covid_df = covid_df.rename(columns=covid_rename)

In [29]:
# converting data types 
to_str = ["state", "county", "age_group", "sex", "race", "ethnicity",
          "symptom_status", "hosp_yn", "icu_yn", "death_yn", "underlying_conditions_yn"]
covid_df[to_str] = covid_df[to_str].astype(str)

In [30]:
# show cols with NaNs
covid_df.columns[covid_df.isnull().any()]

Index(['county_fips_code'], dtype='object')

In [31]:
# fill NaNs in county_fips_code with "Not Available"
covid_df["county_fips_code"] = covid_df["county_fips_code"].fillna("Not Available")

# shows all values within the race col
covid_df.race.unique()

# rename nan, Missing, and Unknown to Not Available
rename_covid_nan = {"nan":"Not Available",
                     "Missing":"Not Available",
                     "Unknown":"Not Available"}
covid_df["race"] = covid_df["race"].replace(rename_covid_nan).astype(str)

# same treatment for ethnicity as the race col
covid_df.ethnicity.unique()

covid_df["ethnicity"] = covid_df["ethnicity"].replace(rename_covid_nan).astype(str)

covid_df["county"] = covid_df["county"].replace({"nan":"Not Available"})

# checking for NaN string values and replace with "Not Available" in remaining cols
covid_df.age_group.unique()
covid_df["age_group"] = covid_df["age_group"].replace({"nan":"Not Available", "Missing":"Not Available"}).astype(str)

covid_df["sex"] = covid_df["sex"].replace(rename_covid_nan).astype(str)

covid_df["death_yn"] = covid_df["death_yn"].replace(rename_covid_nan).astype(str)

covid_df["underlying_conditions_yn"] = covid_df["underlying_conditions_yn"].replace(rename_covid_nan).astype(str)

rename_missing_unk = {"Missing":"Not Available",
                      "Unknown":"Not Available"}
rename_col = ["symptom_status", "hosp_yn", "icu_yn"]
covid_df[rename_col] = covid_df[rename_col].replace(rename_missing_unk).astype(str)

In [32]:
covid_df.sample(10, random_state = 42)

,date,state,state_fips_code,county,county_fips_code,age_group,sex,race,ethnicity,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
11639060,2021-12-01,TX,48,Not Available,Not Available,18 to 49 years,Male,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available
7365273,2021-01-01,CA,6,KERN,6029.0,18 to 49 years,Female,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available
2826409,2020-05-01,CA,6,MONTEREY,6053.0,18 to 49 years,Male,White,Hispanic/Latino,Symptomatic,No,Not Available,Not Available,Not Available
3894756,2021-08-01,NY,36,ORANGE,36071.0,18 to 49 years,Female,Not Available,Hispanic/Latino,Symptomatic,No,Not Available,No,Not Available
8602615,2021-08-01,NY,36,SUFFOLK,36103.0,65+ years,Male,Not Available,Not Available,Not Available,Not Available,Not Available,No,Not Available
10347080,2021-09-01,FL,12,MIAMI-DADE,12086.0,65+ years,Female,White,Hispanic/Latino,Not Available,No,Not Available,No,Not Available
5423655,2021-09-01,NY,36,MONROE,36055.0,0 - 17 years,Female,Black,Non-Hispanic/Latino,Not Available,Not Available,Not Available,No,Not Available
5897489,2020-12-01,CA,6,ALAMEDA,6001.0,18 to 49 years,Male,Multiple/Other,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available
9556751,2021-01-01,NY,36,QUEENS,36081.0,18 to 49 years,Female,White,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available
1140622,2021-09-01,NY,36,CHAUTAUQUA,36013.0,18 to 49 years,Female,Not Available,Not Available,Not Available,Not Available,Not Available,No,Not Available

In [33]:
# covid_df.describe(include = 'all',datetime_is_numeric=True) #describe and include string columns

In [34]:
#covid cases trend
# trend_df = covid_df.groupby(['date']).size().reset_index(name = 'case_count').set_index('date')
# trend_df['case_count_per_100k'] = trend_df['case_count']/100000
# plt.plot(trend_df.index,trend_df['case_count_per_100k'])
# plt.title('COVID-19 Cases Have Spiked Twice And Is Trending Upwards')
# plt.xlabel('Date')
# plt.ylabel('Case Count (Hundred Thousand)')
# plt.xticks(rotation=90)
# plt.show()

In [35]:
# trend_df.head()

In [36]:
# comparing cases with vaccine administration rates
# case_vax_ax = ny_m_plt.plot(x="date", y=["admin_per_100k_12plus", "admin_per_100k_18plus", "admin_per_100k_65plus"], kind="line")
# trend_df.plot(y="case_count", kind="line", ax=case_vax_ax, title="COVID-19 Cases and Vaccinations per Age Group");

When comparing the COVID case trends with the trends in vaccine administration across each age group, it can be seen that the number of cases starts to sharply decline as the population recieves the vaccine. The case_count trend line was already falling when the vaccines were made available. However, once more of the population started to get vaccinated the case numbers stayed low up until the omicron variant began spreading around November of 2021 up until now (mid-January 2022).

In [37]:
# case_comp_ax = daily_plt.plot(x="date", y='series_complete', kind="line")
# trend_df.plot(y="case_count", kind="line", ax=case_comp_ax, title="COVID-19 Cases and Complete Vaccine Series");

In [38]:
# covid_65plus = covid_df.loc[covid_df["age_group"] == "65+ years"]

In [39]:
# df_covid65 = covid_65plus.groupby(['date']).size().reset_index(name = 'case_count').set_index('date')

# df_covid65.plot(title="Trend in COVID-19 Cases for Age 65+");

In [40]:
# covid65_ax = ny_m_plt.plot(x="date", y="admin_per_100k_65plus", kind="line")
# df_covid65.plot(y="case_count", kind="line", ax=covid65_ax, title="COVID-19 Cases and Vaccinations for Age 65+");

# Analyzing the Impact of Different Factors on Case Trends
### Applying multiple regression to a new data frame containing case counts for each state by month, vaccine administration per month for each manufacturer, and analyzing demographic factors

In [41]:
# cases per state

cases_4state = covid_df.groupby(["date", "state"], as_index=False).size()
cases_4state = cases_4state.rename(columns={"size":"cases"})
cases_4state = cases_4state[~(cases_4state["date"] <= "2020-12-01")]

In [42]:
cases_4state

         date state   cases
48 2021-01-01    CA  877185
49 2021-01-01    FL  207612
50 2021-01-01    NY  333399
51 2021-01-01    TX    5057
52 2021-02-01    CA  182380
53 2021-02-01    FL  165000
54 2021-02-01    NY  199327
55 2021-02-01    TX    2108
56 2021-03-01    CA   83365
57 2021-03-01    FL  330204
58 2021-03-01    NY  222687
59 2021-03-01    TX    1242
60 2021-04-01    CA   65972
61 2021-04-01    FL  111786
62 2021-04-01    NY  144255
63 2021-04-01    TX    1086
64 2021-05-01    CA   38232
65 2021-05-01    FL   54597
66 2021-05-01    NY   42055
67 2021-05-01    TX     589
68 2021-06-01    CA   35709
69 2021-06-01    FL   49974
70 2021-06-01    NY   12562
71 2021-06-01    TX     616
72 2021-07-01    CA  203143
73 2021-07-01    FL  115593
74 2021-07-01    NY   47079
75 2021-07-01    TX    1097
76 2021-08-01    CA  414353
77 2021-08-01    FL  268491
78 2021-08-01    NY  125079
79 2021-08-01    TX    3297
80 2021-09-01    CA  251191
81 2021-09-01    FL  287957
82 2021-09-01    NY  138688
83 2021-09-01    TX    2489
84 2021-10-01    CA  178486
85 2021-10-01    FL  183619
86 2021-10-01    NY  117439
87 2021-10-01    TX    1018
88 2021-11-01    CA  163753
89 2021-11-01    FL   46151
90 2021-11-01    NY  175322
91 2021-11-01    TX   47193
92 2021-12-01    CA  326143
93 2021-12-01    FL   18569
94 2021-12-01    NY  544276
95 2021-12-01    TX   48463

In [43]:
keep_state = ["NY", "CA", "FL", "TX"]
df_4state = df.loc[df["state"].isin(keep_state)]


# df_4state_m = df_4state.set_index("date")
# df_4state_m = df_4state_m.groupby(df_4state_m.index.strftime("%Y-%m")).tail(1)
# df_4state_m = df_4state_m.reset_index().sort_values(by="date", ascending=True)
# manuf_4state_m = df_4state_m[["date","state", "admin_janssen", "admin_moderna", "admin_pfizer", "admin_unk"]]

In [44]:
df_4state_m = df_4state[df_4state["date"].dt.is_month_start].sort_values(by="date", ascending=True)
manuf_4state_m = df_4state_m[["date","state", "admin_janssen", "admin_moderna", "admin_pfizer", "admin_unk"]]

In [45]:
manuf_4state_m

            date state  admin_janssen  admin_moderna  admin_pfizer  admin_unk
25784 2021-01-01    TX              0         221764        301502          0
25775 2021-01-01    FL              0         104492        133296         21
25780 2021-01-01    CA              0          60934        313563          0
25778 2021-01-01    NY              0          82248        146240         11
23799 2021-02-01    TX              0        1297536       1198696          0
23787 2021-02-01    FL              0         971820       1032236       1322
23755 2021-02-01    CA              0        1600685       1852599          0
23752 2021-02-01    NY              0         943356        984098        211
21990 2021-03-01    CA            352        4460552       4645163         10
21972 2021-03-01    FL              0        2509245       2533476       5239
21960 2021-03-01    TX              0        2828841       2743511        144
21945 2021-03-01    NY              0        2253872       2101216        456
19941 2021-04-01    CA         370501        8730014       9502013       1636
19955 2021-04-01    NY         216370        4309912       4865934       1268
19966 2021-04-01    FL         242259        4613289       4912545      13646
19973 2021-04-01    TX         297094        5468702       6184574        599
17986 2021-05-01    TX         662479        8388470      10038557        749
17983 2021-05-01    NY         603095        6819234       8433328       2942
17972 2021-05-01    CA        1101573       13580241      16135526       3495
18018 2021-05-01    FL         555141        6732291       8175463      25210
15985 2021-06-01    CA        1357551       16206084      20903918       5176
15979 2021-06-01    TX         870298        9770407      12400878        841
15969 2021-06-01    FL         816361        7930529      10038017      36390
15962 2021-06-01    NY         828036        8151594      10723586       4162
14037 2021-07-01    NY         948791        8743524      12153595       5114
14034 2021-07-01    TX        1003789       10538240      14213564        874
14015 2021-07-01    CA        1556146       17353579      23855076       6884
14002 2021-07-01    FL        1012101        8484817      11567478      48694
12041 2021-08-01    CA        1671368       18034046      25560358       8675
12009 2021-08-01    TX        1109087       11009692      15378099        777
11993 2021-08-01    NY        1013560        9040360      12937436       6485
12013 2021-08-01    FL        1109368        8845241      12606405      65680
10031 2021-09-01    TX        1197157       11745585      17324970        827
10018 2021-09-01    NY        1072305        9356997      13991672       7909
10013 2021-09-01    CA        1777389       18736632      27583352      12477
9984  2021-09-01    FL        1169661        9541822      14186220      79838
8084  2021-10-01    FL        1205144       10085482      15454039      93402
8081  2021-10-01    TX        1236339       12314441      18815364       1558
8042  2021-10-01    CA        1858946       19404931      29441547      13245
8021  2021-10-01    NY        1127289        9695417      15131586       9364
6058  2021-11-01    TX        1287393       13012068      20354864       2513
6039  2021-11-01    FL        1250121       10609037      16698264     104645
6072  2021-11-01    NY        1179846       10090429      16394605      10689
6067  2021-11-01    CA        1944617       20344466      32134569      14593
4140  2021-12-01    CA        2084243       22644200      35024428      15229
4137  2021-12-01    FL        1329140       11639507      17935923     112516
4135  2021-12-01    NY        1245561       11046085      17722694      11816
4132  2021-12-01    TX        1374509       14081313      21900136       2948
2162  2022-01-01    NY        1348370       12653266      20488081      15751
2161  2022-01-01    CA        2205012       25103692      38907455      16006
2132  2022-01-01    TX        1446177       15233620      23930959       3500
2124  2022-01-01    FL        1396674       12600619      19620968     119801
185   2022-02-01    CA        2236655       26125356      40962162      14521
179   2022-02-01    FL        1433422       13125984      20713856     126656
144   2022-02-01    TX        1490990       16003292      25677283       4047
141   2022-02-01    NY        1391870       13368914      21965732      17835

In [56]:
covid_4state = pd.merge(case_manuf, manuf_4state_m, on=["date", "state"], how="inner")

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

In [57]:
covid_4state

,date,state,cases,admin_janssen,admin_moderna,admin_pfizer,admin_unk
0,2021-01-01,CA,877185,0,60934,313563,0
1,2021-01-01,FL,207612,0,104492,133296,21
2,2021-01-01,NY,333399,0,82248,146240,11
3,2021-01-01,TX,5057,0,221764,301502,0
4,2021-02-01,CA,182380,0,1600685,1852599,0
5,2021-02-01,FL,165000,0,971820,1032236,1322
6,2021-02-01,NY,199327,0,943356,984098,211
7,2021-02-01,TX,2108,0,1297536,1198696,0
8,2021-03-01,CA,83365,352,4460552,4645163,10
9,2021-03-01,FL,330204,0,2509245,2533476,5239
10,2021-03-01,NY,222687,0,2253872,2101216,456
11,2021-03-01,TX,1242,0,2828841,2743511,144
12,2021-04-01,CA,65972,370501,8730014,9502013,1636
13,2021-04-01,FL,111786,242259,4613289,4912545,13646
14,2021-04-01,NY,144255,216370,4309912,4865934,1268
15,2021-04-01,TX,1086,297094,5468702,6184574,599
16,2021-05-01,CA,38232,1101573,13580241,16135526,3495
17,2021-05-01,FL,54597,555141,6732291,8175463,25210
18,2021-05-01,NY,42055,603095,6819234,8433328,2942
19,2021-05-01,TX,589,662479,8388470,10038557,749
20,2021-06-01,CA,35709,1357551,16206084,20903918,5176
21,2021-06-01,FL,49974,816361,7930529,10038017,36390
22,2021-06-01,NY,12562,828036,8151594,10723586,4162
23,2021-06-01,TX,616,870298,9770407,12400878,841
24,2021-07-01,CA,203143,1556146,17353579,23855076,6884
25,2021-07-01,FL,115593,1012101,8484817,11567478,48694
26,2021-07-01,NY,47079,948791,8743524,12153595,5114
27,2021-07-01,TX,1097,1003789,10538240,14213564,874
28,2021-08-01,CA,414353,1671368,18034046,25560358,8675
29,2021-08-01,FL,268491,1109368,8845241,12606405,65680
30,2021-08-01,NY,125079,1013560,9040360,12937436,6485
31,2021-08-01,TX,3297,1109087,11009692,15378099,777
32,2021-09-01,CA,251191,1777389,18736632,27583352,12477
33,2021-09-01,FL,287957,1169661,9541822,14186220,79838
34,2021-09-01,NY,138688,1072305,9356997,13991672,7909
35,2021-09-01,TX,2489,1197157,11745585,17324970,827
36,2021-10-01,CA,178486,1858946,19404931,29441547,13245
37,2021-10-01,FL,183619,1205144,10085482,15454039,93402
38,2021-10-01,NY,117439,1127289,9695417,15131586,9364
39,2021-10-01,TX,1018,1236339,12314441,18815364,1558
40,2021-11-01,CA,163753,1944617,20344466,32134569,14593
41,2021-11-01,FL,46151,1250121,10609037,16698264,104645
42,2021-11-01,NY,175322,1179846,10090429,16394605,10689
43,2021-11-01,TX,47193,1287393,13012068,20354864,2513
44,2021-12-01,CA,326143,2084243,22644200,35024428,15229
45,2021-12-01,FL,18569,1329140,11639507,17935923,112516
46,2021-12-01,NY,544276,1245561,11046085,17722694,11816
47,2021-12-01,TX,48463,1374509,14081313,21900136,2948

In [48]:
# df_ny_daily = df_ny.drop(columns="state").set_index("date")
# df_ny_daily = df_ny_daily.diff(periods=-1)

In [49]:
manuf_4state_m.dtypes

date             datetime64[ns]
state                    object
admin_janssen             int64
admin_moderna             int64
admin_pfizer              int64
admin_unk                 int64
dtype: object

In [50]:
case_manuf = manuf_4state_m.sort_values(["date", "state"])
case_manuf = case_manuf.join(case_manuf.groupby("state")[["admin_janssen", "admin_moderna", "admin_pfizer", "admin_unk"]].diff().fillna(0), rsuffix="_diff")

In [51]:
case_manuf = case_manuf.drop(columns=["admin_janssen", "admin_moderna", "admin_pfizer", "admin_unk"])

In [52]:
# converting state names to numerics to fit regression line
# CA:1, FL:2, NY:3, TX:4

numstate = {"CA":1, "FL":2, "NY":3, "TX":4}
case_manuf["state"] = case_manuf["state"].replace(numstate)

In [55]:
case_manuf

,date,state,admin_janssen_diff,admin_moderna_diff,admin_pfizer_diff,admin_unk_diff
25780,2021-01-01,1,0.0,0.0,0.0,0.0
25775,2021-01-01,2,0.0,0.0,0.0,0.0
25778,2021-01-01,3,0.0,0.0,0.0,0.0
25784,2021-01-01,4,0.0,0.0,0.0,0.0
23755,2021-02-01,1,0.0,1539751.0,1539036.0,0.0
23787,2021-02-01,2,0.0,867328.0,898940.0,1301.0
23752,2021-02-01,3,0.0,861108.0,837858.0,200.0
23799,2021-02-01,4,0.0,1075772.0,897194.0,0.0
21990,2021-03-01,1,352.0,2859867.0,2792564.0,10.0
21972,2021-03-01,2,0.0,1537425.0,1501240.0,3917.0
21945,2021-03-01,3,0.0,1310516.0,1117118.0,245.0
21960,2021-03-01,4,0.0,1531305.0,1544815.0,144.0
19941,2021-04-01,1,370149.0,4269462.0,4856850.0,1626.0
19966,2021-04-01,2,242259.0,2104044.0,2379069.0,8407.0
19955,2021-04-01,3,216370.0,2056040.0,2764718.0,812.0
19973,2021-04-01,4,297094.0,2639861.0,3441063.0,455.0
17972,2021-05-01,1,731072.0,4850227.0,6633513.0,1859.0
18018,2021-05-01,2,312882.0,2119002.0,3262918.0,11564.0
17983,2021-05-01,3,386725.0,2509322.0,3567394.0,1674.0
17986,2021-05-01,4,365385.0,2919768.0,3853983.0,150.0
15985,2021-06-01,1,255978.0,2625843.0,4768392.0,1681.0
15969,2021-06-01,2,261220.0,1198238.0,1862554.0,11180.0
15962,2021-06-01,3,224941.0,1332360.0,2290258.0,1220.0
15979,2021-06-01,4,207819.0,1381937.0,2362321.0,92.0
14015,2021-07-01,1,198595.0,1147495.0,2951158.0,1708.0
14002,2021-07-01,2,195740.0,554288.0,1529461.0,12304.0
14037,2021-07-01,3,120755.0,591930.0,1430009.0,952.0
14034,2021-07-01,4,133491.0,767833.0,1812686.0,33.0
12041,2021-08-01,1,115222.0,680467.0,1705282.0,1791.0
12013,2021-08-01,2,97267.0,360424.0,1038927.0,16986.0
11993,2021-08-01,3,64769.0,296836.0,783841.0,1371.0
12009,2021-08-01,4,105298.0,471452.0,1164535.0,-97.0
10013,2021-09-01,1,106021.0,702586.0,2022994.0,3802.0
9984,2021-09-01,2,60293.0,696581.0,1579815.0,14158.0
10018,2021-09-01,3,58745.0,316637.0,1054236.0,1424.0
10031,2021-09-01,4,88070.0,735893.0,1946871.0,50.0
8042,2021-10-01,1,81557.0,668299.0,1858195.0,768.0
8084,2021-10-01,2,35483.0,543660.0,1267819.0,13564.0
8021,2021-10-01,3,54984.0,338420.0,1139914.0,1455.0
8081,2021-10-01,4,39182.0,568856.0,1490394.0,731.0
6067,2021-11-01,1,85671.0,939535.0,2693022.0,1348.0
6039,2021-11-01,2,44977.0,523555.0,1244225.0,11243.0
6072,2021-11-01,3,52557.0,395012.0,1263019.0,1325.0
6058,2021-11-01,4,51054.0,697627.0,1539500.0,955.0
4140,2021-12-01,1,139626.0,2299734.0,2889859.0,636.0
4137,2021-12-01,2,79019.0,1030470.0,1237659.0,7871.0
4135,2021-12-01,3,65715.0,955656.0,1328089.0,1127.0
4132,2021-12-01,4,87116.0,1069245.0,1545272.0,435.0
2161,2022-01-01,1,120769.0,2459492.0,3883027.0,777.0
2124,2022-01-01,2,67534.0,961112.0,1685045.0,7285.0
2162,2022-01-01,3,102809.0,1607181.0,2765387.0,3935.0
2132,2022-01-01,4,71668.0,1152307.0,2030823.0,552.0
185,2022-02-01,1,31643.0,1021664.0,2054707.0,-1485.0
179,2022-02-01,2,36748.0,525365.0,1092888.0,6855.0
141,2022-02-01,3,43500.0,715648.0,1477651.0,2084.0
144,2022-02-01,4,44813.0,769672.0,1746324.0,547.0

In [53]:
case_manuf.describe(include = 'all', datetime_is_numeric=True)

,date,state,admin_janssen_diff,admin_moderna_diff,admin_pfizer_diff,admin_unk_diff
count,56,56.000000,56.000000,5.600000e+01,5.600000e+01,56.000000
mean,2021-07-17 01:42:51.428571392,2.500000,117016.732143,1.217038e+06,1.936151e+06,2911.196429
min,2021-01-01 00:00:00,1.000000,0.000000,0.000000e+00,0.000000e+00,-1485.000000
25%,2021-04-01 00:00:00,1.750000,36431.750000,5.652140e+05,1.219378e+06,187.500000
50%,2021-07-16 12:00:00,2.500000,75343.500000,9.475955e+05,1.562544e+06,1173.500000
75%,2021-11-01 00:00:00,3.250000,153654.500000,1.538006e+06,2.457557e+06,2513.500000
max,2022-02-01 00:00:00,4.000000,731072.000000,4.850227e+06,6.633513e+06,16986.000000
std,NaN,1.128152,133971.429242,1.001521e+06,1.250359e+06,4383.984997

In [54]:
case_manuf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56 entries, 25780 to 144
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                56 non-null     datetime64[ns]
 1   state               56 non-null     int64
 2   admin_janssen_diff  56 non-null     float64
 3   admin_moderna_diff  56 non-null     float64
 4   admin_pfizer_diff   56 non-null     float64
 5   admin_unk_diff      56 non-null     float64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 5.1 KB